.nav-container {
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-content {
  display: block;
  margin: auto;
  width: auto;
}

.nav-menu {

}
