<div class="nav-container">
  <div class="nav-content">

    <div class="logo">
asdf
    </div>

    <ul class="nav-menu">
      <li (click)="selectMenu('H', $event)" #home
          (mousedown)="applyHover($event)" (mouseleave)="removeHover($event)">
        Home
      </li>

      <li (click)="selectMenu('W', $event)">
        Who We Are
      </li>

      <li (click)="selectMenu('M', $event)">
        Memories
      </li>

      <li (click)="selectMenu('C', $event)">
        CSA Structure
      </li>

      <li (click)="selectMenu('G', $event)">
        Gallery
      </li>
    </ul>

  </div>
</div>

